@media screen and (min-width: 766px) {
  .result {
    gap: 5rem;
  }
  .result__choice p{
    font-size: 1.5rem;
  }
  .selecting {
    width: 12rem;
    height: 12rem;
  }
  @keyframes loading {
    0% {
      width: 12rem;
      height: 12rem;
      background: hsl(214, 72%, 11%);
    }
  
    50% {
      width: 10rem;
      height: 10rem;
      background: hsl(214, 64%, 16%);
    }
  
    100% {
      width: 12rem;
      height: 12rem;
      background: hsl(214, 72%, 11%);
    }
  }
}

@media screen and (min-width: 940px) {
  .result {
    width: 70%;
    gap: 7rem;
    margin-top: 7rem;
  }
  .selecting {
    width: 14rem;
    height: 14rem;
  }
  @keyframes loading {
    0% {
      width: 14rem;
      height: 14rem;
      background: hsl(214, 72%, 11%);
    }
  
    50% {
      width: 12rem;
      height: 12rem;
      background: hsl(214, 64%, 16%);
    }
  
    100% {
      width: 14rem;
      height: 14rem;
      background: hsl(214, 72%, 11%);
    }
  }
}

@media screen and (min-width: 1200px) {
  .result {
    width: 50%;
  }
  .result__choice {
    flex-direction: column-reverse;
    gap: 4rem;
  }
  .result__choice p {
    font-size: 2rem;
  }
  .selecting {
    width: 18rem;
    height: 18rem;
  }
  @keyframes loading {
    0% {
      width: 18rem;
      height: 18rem;
      background: hsl(214, 72%, 11%);
    }
  
    50% {
      width: 16rem;
      height: 16rem;
      background: hsl(214, 64%, 16%);
    }
  
    100% {
      width: 16rem;
      height: 16rem;
      background: hsl(214, 72%, 11%);
    }
  }
}

@media screen and (min-width: 1600px) {
  .selecting {
    width: 19rem;
    height: 19rem;
  }

  @keyframes loading {
    0% {
      width: 19rem;
      height: 19rem;
      background: hsl(214, 72%, 11%);
    }
  
    50% {
      width: 16rem;
      height: 16rem;
      background: hsl(215, 73%, 14%);
    }
  
    100% {
      width: 19rem;
      height: 19rem;
      background: hsl(214, 72%, 11%);
    }
  }
}