.resultButton {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultButton--inner {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px 7px 2px 0px #d8d8d8;
}

.resultButton--inner>img {
  width: 40%;
}

.paper {
  background: var(--PaperGradient);
}

.scissors {
  background: var(--ScissorsGradient);
}

.rock {
  background: var(--RockGradient);
}
