@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
  --font: 'Barlow Semi Condensed', sans-serif;
  --DarkText: hsl(229, 25%, 31%);
  --ScoreText: hsl(229, 64%, 46%);
  --HeaderOutline: hsl(217, 16%, 45%);
  --background: linear-gradient(180deg, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  --ScissorsGradient: linear-gradient(
    180deg,
    hsl(39, 89%, 49%),
    hsl(40, 84%, 53%)
  );
  --PaperGradient: linear-gradient(
    180deg,
    hsl(230, 89%, 62%),
    hsl(230, 89%, 65%)
  );
  --RockGradient: linear-gradient(
    180deg,
    hsl(349, 71%, 52%),
    hsl(349, 70%, 56%)
  );
}

.App {
  font-family: var(--font);
  background: var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rulesButton {
  background: transparent;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 2px;
  padding: .5rem 2rem;
  position: absolute;
  bottom: 5rem;
}

.rulesButton:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (min-width: 1200px) {
  .rulesButton {
    margin-top: 0;
    right: 3rem;
    bottom: 3rem;
  }
}