@media screen and (min-width: 767px) {
  .score__title {
    font-size: 2rem;
  }
  .score__points {
    padding: 1rem 1.8rem;
  }
  
  .score__points p {
    font-size: 1rem;
  }
  
  .score__points span {
    font-size: 2.9rem;
  }
}

@media screen and (min-width: 940px) {
  .score {
    width: 60%;
    border-radius: 15px;
  }
  .score__points {
    padding: 1.2rem 2rem;
  }
  
  .score__points p {
    font-size: 1.2rem;
  }
  
  .score__points span {
    font-size: 3.1rem;
  }
}

@media screen and (min-width: 1366px) {
  .score {
    width: 50%;
  }

  .score__title {
    font-size: 2.2rem;
  }

  .score__points {
    padding: 1.4rem 2.2rem;
  }

  .score__points p {
    font-size: 1.5rem;
  }

  .score__points span {
    font-size: 3.2rem;
  }
}

@media screen and (min-width: 1600px) {
  .score {
    width: 40%;
  }
}
